<header>tic-tac-toe</header>  

<!-- {{awesomeThings}} -->

<div id="notification">
Player 1 - Your Turn
</div>


<div id="container">


<div id="message_overlay">
  Message Overlay
  <br>

  <input type="button" id="btn2" value="Start Again" onclick="startAgain()"/>
  
</div>





<div id="column1">
  <div id="cell1_1" onclick="playBox()"/></div>
  <div id="cell1_2" onclick="playBox()"></div>
  <div id="cell1_3" onclick="playBox()"></div>
</div>

<div id="column2">
  <div id="cell1_4" onclick="playBox()"></div>
  <div id="cell1_5" onclick="playBox()"></div>
  <div id="cell1_6" onclick="playBox()"></div>
</div>

<div id="column3">
  <div id="cell1_7" onclick="playBox()"></div>
  <div id="cell1_8" onclick="playBox()"></div>
  <div id="cell1_9" onclick="playBox()"></div>
</div>




</div>   <!-- end container -->



<input type="button" id="btn1" value="Quit and Start Again" onclick="startAgain()"/>


