<!-- <body ng-app=""> -->

<header>tic-tac-toe</header>  

<div class="notification" ng-init ="showNotification = true" ng-show="showNotification">
You are {{player}}.   Player {{((rooms[gameId].player_turn+1) %2)+1}} - Your Turn
<!-- Player {{(($scope.rooms[$scope.gameId].player_turn+1) %2)}} - Your Turn -->
</div>


<div class="notification" ng-init ="showEndNotification = false" ng-show="showEndNotification">
  Game Over
</div>
  

<div id="container" ng-init = "showWinMessage = false" ng-init = "showTieMessage = false" ng-init = "startGameMessage = true">

<!-- <div id="container" ng-controller="MainCtrl">  -->
    
<div id="start_game_overlay" ng-show = "startGameMessage">
  Start a New Game
  <input type="button" id="btn2" value="Start" ng-click="beginNewGame()"/>

</div>

<div id="waiting_overlay" ng-show = "rooms[gameId].waiting">
  Waiting for Player 2
  </div>



<div id="win_message_overlay" ng-show="showWinMessage">
  Player {{((rooms[gameId].player_turn) %2)+1}} Wins!
  <br>

  <input type="button" id="btn2" value="Start New Game" ng-show="showWinMessage" ng-click="startAgain()"/>
  <!-- <input type="button" id="btn2" value="Start Again" ng-click="startAgain()"/> -->
  
</div>

<div id="tie_message_overlay" ng-show="showTieMessage">
  You Tied!
  <br>

  <input type="button" id="btn2" ng-show="showTieMessage" value="Start New Game" ng-click="startAgain()"/>
  <!-- <input type="button" id="btn2" value="Start Again" ng-click="startAgain()"/> -->
  
</div>



<!-- {{"cell" + $index}} -->

<div id = "row_array" ng-repeat="row in rooms[gameId].ticTacToe">
    <!-- {{$index}} -->
  <!-- <div class="sqr" ng-repeat="cell in row track by $index" ng-click="cell=playerChoice()" ng-init="cell=''"> -->
  <div ng-class="{sqr:true, topline:$parent.$index!=0, leftline:$index!=0}" ng-repeat="cell in row" ng-click="clickSquare(cell)">
    <!-- <div ng-class="{sqr:true, topline:$parent.$index!=0, leftline:$index!=0}" ng-repeat="cell in row" ng-click="clickSquare($parent.$index, $index)"> -->
      <!-- <div ng-class="{sqr:true, topline:$parent.$index!=0, leftline:$index!=0}" ng-repeat="cell in row track by $index" ng-click="clickSquare($parent.$index, $index)"> -->
      <!-- <div ng-class="{sqr:true, topline:$parent.$index!=0, leftline:$index!=0}" ng-repeat="cell in row track by $index" ng-click="cell='X'"> -->
    <!-- <div ng-click="cell()"></div> -->
     <!-- {{$parent.$index + "," + $index}} -->
     {{cell.val}}
    <!-- {{$parent.$index + "," + $index}} -->
    <!-- {{cell}} -->
  </div>

<div class="clearfix"></div>

</div>  <!-- end message overlay -->
</div>    <!-- end container -->


<input type="button" id="btn1" value="quit and start new game" ng-click="startAgain()"/>






