<!-- <body ng-app=""> -->

<header>tic-tac-toe</header>  

<div id="notification">
Player 1 - Your Turn
</div>


<div id="container">

<!-- <div id="container" ng-controller="MainCtrl">  -->

<div id="message_overlay">
  Message Overlay
  <br>

  <input type="button" id="btn2" value="Start Again" ng-click="startAgain()"/>
  
</div>



<!-- {{"cell" + $index}} -->

<div id = "row_array" ng-repeat="row in ticTacToe">
    <!-- {{$index}} -->
  <!-- <div class="sqr" ng-repeat="cell in row track by $index" ng-click="cell=playerChoice()" ng-init="cell=''"> -->
    <div ng-class="{sqr:true, topline:$parent.$index!=0, leftline:$index!=0}" ng-repeat="cell in row" ng-click="clickSquare($parent.$index, $index)">
      <!-- <div ng-class="{sqr:true, topline:$parent.$index!=0, leftline:$index!=0}" ng-repeat="cell in row track by $index" ng-click="clickSquare($parent.$index, $index)"> -->
      <!-- <div ng-class="{sqr:true, topline:$parent.$index!=0, leftline:$index!=0}" ng-repeat="cell in row track by $index" ng-click="cell='X'"> -->
    <!-- <div ng-click="cell()"></div> -->
     <!-- {{$parent.$index + "," + $index}} -->
     {{cell}}
    <!-- {{$parent.$index + "," + $index}} -->
    <!-- {{cell}} -->
  </div>

<div class="clearfix"></div>

</div>  <!-- end message overlay -->
</div>    <!-- end container -->


<input type="button" id="btn1" value="Quit and Start Again" ng-click="startAgain()"/>






